body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
}

h1 {
  background: #1e293b;
  color: white;
  padding: 15px;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

input, button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background: #334155;
  color: white;
}
